In [ ]:
import os
# Note set your own os.environment with your credentials
#os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ='sapient-pen-301821-54255d2566a6.json'
from google.cloud import bigquery
import pandas as pd
import pyarrow
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import gc

bigquery_client = bigquery.Client()

In [ ]:
QUERY = """
SELECT 
*
from `gdelt-bq.full.events`
limit 1
"""

In [ ]:
# query_job = bigquery_client.query(QUERY)
df = (
    bigquery_client.query(QUERY2)
    .result()
    .to_dataframe()
)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 58 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GLOBALEVENTID          1 non-null      int64
 1   SQLDATE                1 non-null      int64
 2   MonthYear              1 non-null      int64
 3   Year                   1 non-null      int64
 4   FractionDate           1 non-null      float64
 5   Actor1Code             1 non-null      object
 6   Actor1Name             1 non-null      object
 7   Actor1CountryCode      0 non-null      object
 8   Actor1KnownGroupCode   0 non-null      object
 9   Actor1EthnicCode       0 non-null      object
 10  Actor1Religion1Code    0 non-null      object
 11  Actor1Religion2Code    0 non-null      object
 12  Actor1Type1Code        1 non-null      object
 13  Actor1Type2Code        0 non-null      object
 14  Actor1Type3Code        0 non-null      object
 15  Actor2Code             0 non-null      object
 16  Actor2Name             0 non-null      object
 17  Actor2CountryCode      0 non-null      object
 18  Actor2KnownGroupCode   0 non-null      object
 19  Actor2EthnicCode       0 non-null      object
 20  Actor2Religion1Code    0 non-null      object
 21  Actor2Religion2Code    0 non-null      object
 22  Actor2Type1Code        0 non-null      object
 23  Actor2Type2Code        0 non-null      object
 24  Actor2Type3Code        0 non-null      object
 25  IsRootEvent            1 non-null      int64
 26  EventCode              1 non-null      object
 27  EventBaseCode          1 non-null      object
 28  EventRootCode          1 non-null      object
 29  QuadClass              1 non-null      int64
 30  GoldsteinScale         1 non-null      float64
 31  NumMentions            1 non-null      int64
 32  NumSources             1 non-null      int64
 33  NumArticles            1 non-null      int64
 34  AvgTone                1 non-null      float64
 35  Actor1Geo_Type         1 non-null      int64
 36  Actor1Geo_FullName     0 non-null      object
 37  Actor1Geo_CountryCode  0 non-null      object
 38  Actor1Geo_ADM1Code     0 non-null      object
 39  Actor1Geo_Lat          0 non-null      object
 40  Actor1Geo_Long         0 non-null      object
 41  Actor1Geo_FeatureID    0 non-null      object
 42  Actor2Geo_Type         1 non-null      int64
 43  Actor2Geo_FullName     0 non-null      object
 44  Actor2Geo_CountryCode  0 non-null      object
 45  Actor2Geo_ADM1Code     0 non-null      object
 46  Actor2Geo_Lat          0 non-null      object
 47  Actor2Geo_Long         0 non-null      object
 48  Actor2Geo_FeatureID    0 non-null      object
 49  ActionGeo_Type         1 non-null      int64
 50  ActionGeo_FullName     0 non-null      object
 51  ActionGeo_CountryCode  0 non-null      object
 52  ActionGeo_ADM1Code     0 non-null      object
 53  ActionGeo_Lat          0 non-null      object
 54  ActionGeo_Long         0 non-null      object
 55  ActionGeo_FeatureID    0 non-null      object
 56  DATEADDED              1 non-null      int64
 57  SOURCEURL              1 non-null      object
dtypes: float64(3), int64(13), object(42)
memory usage: 592.0+ bytes

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/GDELT_Full/GDELT_1979.csv') 
df2 = pd.read_csv('/content/drive/MyDrive/GDELT_Full/GDELT_1990.csv') 
df3 = pd.read_csv('/content/drive/MyDrive/GDELT_Full/GDELT_2000.csv') 
df4 = pd.read_csv('/content/drive/MyDrive/GDELT_Full/GDELT_2010.csv') 
df5 = pd.read_csv('/content/drive/MyDrive/GDELT_Full/GDELT_2017.csv') 
df6 = pd.read_csv('/content/drive/MyDrive/GDELT_Full/GDELT_2018.csv') 
df7 = pd.read_csv('/content/drive/MyDrive/GDELT_Full/GDELT_2019.csv') 
df8 = pd.read_csv('/content/drive/MyDrive/GDELT_Full/GDELT_2020.csv') 
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,11,41,48,55) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,11,14,24) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11,15,16,17,18,19,20,21,22,23,24,43,44,45,48,55) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,11,15,16,17,18,19,20,21,22,23,24,43,44,45,48) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.to_csv('/content/drive/MyDrive/GDELT_Full/GDELT_master.csv')

In [ ]:
del [df1, df2, df3, df4, df5, df6, df7, df8]
gc.collect()

425

In [ ]:
df.describe()

       GLOBALEVENTID       SQLDATE  ...  ActionGeo_Long     DATEADDED
count   5.310000e+06  5.310000e+06  ...    5.309659e+06  5.308891e+06
mean    3.163467e+08  2.007443e+07  ...    2.161669e+01  2.014774e+07
std     3.345696e+08  1.098684e+05  ...    6.991501e+01  2.860767e+04
min     7.700000e+01  1.979010e+07  ...   -1.799830e+02  2.013020e+07
25%     4.094545e+07  2.000051e+07  ...   -3.683330e+00  2.013020e+07
50%     1.773696e+08  2.009112e+07  ...    3.000000e+01  2.013020e+07
75%     4.803911e+08  2.015103e+07  ...    6.500000e+01  2.015103e+07
max     9.788378e+08  2.021041e+07  ...    1.800000e+02  2.021041e+07

[8 rows x 25 columns]

**Aggregate Data for EDA**

In [ ]:
# Avg GoldsteinScale and AvgTone for each MonthYear (~24 GB)
QUERY2 = 
"""
SELECT 
MonthYear, AVG(GoldsteinScale) AS avg_goldstein, AVG(AvgTone) AS avg_avgtone, COUNT(GLOBALEVENTID)
from `gdelt-bq.full.events`
WHERE Actor1CountryCode is not NULL AND ActionGeo_CountryCode is Not Null
GROUP BY MonthYear
"""
df = (
    bigquery_client.query(QUERY2)
    .result()
    .to_dataframe()
)

In [ ]:
df.to_csv('monthyear_avgs.csv')

In [ ]:
# Calculate all relevant avg and counts (~24 GB)
QUERY =
"""
SELECT 
MonthYear, AVG(GoldsteinScale) AS avg_goldstein, AVG(AvgTone) AS avg_avgtone, COUNT(GLOBALEVENTID) AS count_events, 
COUNT(NumMentions) as count_numMentions, COUNT(NumSources) as count_numSources, COUNT(NumArticles) AS count_numArticles,
AVG(NumMentions) as avg_numMentions, AVG(NumSources) as avg_numSources, AVG(NumArticles) AS avg_numArticles, 
from `gdelt-bq.full.events`
WHERE Actor1CountryCode is not NULL AND ActionGeo_CountryCode is Not Null
GROUP BY MonthYear,ActionGeo_CountryCode, EventRootCode 
"""
df = (
    bigquery_client.query(QUERY)
    .result()
    .to_dataframe()
)

In [ ]:
df.to_csv('master_gdelts_agg.csv')